!!! Strict
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => I18n.locale, "lang" =>  I18n.locale }
  %head
    %title= 'SalesKing DATEV App'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :head
  %body
    .container
      %ul.top_menu
      .clear
      %hr.seperator  
      = yield
    %footer
      .container
        &copy; 2012 Jan Kus - Railslove GmbH  |  We love building web applications:
        %a(href='https://github.com/koos/sk_sample') Fork & Fix
        or report
        %a(href='https://github.com/koos/sk_sample/issues') Bugs
        on github
